.appointment-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  width: 96%;
  margin: auto;
}

.app-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  width: 98%;
  gap: 5rem;
}

.show-all-button {
  display: flex;
  gap: 31rem;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
  margin: auto;
}

.show-all-button button {
  background-color: #7469b6;
  color: #ffe6e6;
  height: 2rem;
  width: 5rem;
  border-radius: 50px;
}

.show-all-button h1 {
  margin-right: rem;
}

.doctor-appointment,
.animal-appointment {
  width: 6rem;
}
.appsearch-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.appsearch-container input {
  background-color: #ffe6e6;
  color: #7469b6;
  border-radius: 50px;
}

.appsearch-container button {
  background-color: #7469b6;
  color: #ffe6e6;
  height: 2rem;
  width: 3rem;
  border-radius: 50px;
}

.table-container {
  margin: 30px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #ffe6e6;
  color: #7469b6;
}

h1,
h2 {
  color: #7469b6;
  text-align: center;
  padding: 8px;
}
.icon-container {
  display: flex;
  align-items: center;
}

.operations {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.addappointment,
.updateappointment {
  flex: 0 0 48%;
}

.addappointment h2,
.updateappointment h2 {
  color: #7469b6;
}

.addappointment input,
.updateappointment input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.addappointment select,
.updateappointment select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.addappointment button,
.updateappointment button {
  background-color: #7469b6;
  color: #ffe6e6;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.addappointment button:hover,
.updateappointment button:hover {
  background-color: #ffe6e6;
  color: #7469b6;
}
